// 青色グラデ
@mixin blue-gradient {
  background: linear-gradient(180deg, #56CCF2 0%, #0B439A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin bg-blue-gradient {
  background: linear-gradient(180deg, #56CCF2 0%, #0B439A 100%);
}

@mixin white-text {
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}