// テキストカラー
$text-white: #fff;
$text-black-base: #333333;
$text-black: #000000;
$text-gray: #C3C3C3;
$text-blue: #0B439A;

// 背景色
$bg-blue: #E6F0FA;
$bg-white: rgb(255, 255, 255, 0.3);
$footer-blue: #00316B;

// その他カラー
$white: #fff;
$gray: #C3C3C3;
$blue: #0B439A;